
/* Header Styles */
.header {
  background: #000000;
  box-shadow: 0 2px 10px  beige ;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 20px;
}

.nav-brand h1 {
  color: #d4af37;
  font-size: 2rem;
  font-weight: 700;
}
.nav-icons {
  display: flex;
  gap: 1rem;
  color: #ffffff;
}

.nav-icons i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3;
}

.nav-icons i:hover {
  color: #d4af37;
}
/*end navbar*/

body {
    margin: 0;
}

/* start Hero */
.hero {
    height: 100vh;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
}

.hero-text {
    position: absolute;
    right: 2%;
    bottom: 7%;
    justify-items: end;
    color: antiquewhite;
    margin-right: 7%;

}

.hero-text h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;

}

.btn {
    background-color: #2f8f6b;
    margin-bottom: 80%;
}

/* End Hero */
.container {
    display: flex;
    
}
/* strart type-product*/
body{
    background-color: rgb(255, 255, 255);
}
.type{
    display: flex;
    margin-right: 20%;
    margin-top: 40px;
    gap: 100px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}
.type-section select{
    padding: 8px;
    border-radius: 8px;

}
.hr{
    width: 65%;
    margin-right: 19%;
    margin-top: 20px;
}
/* end type-product*/
/*start product*/
.container img{
    display: flex;
    margin-top: 50px;
    width: 80%;
    margin-right: 35px;
    transition:  0.5 ease;
    cursor: pointer;
}
.container img:hover {
    transform: scale(1.1);
}
img{
    margin: 0;
    padding: 0;
}
h1{
    margin-right: 35px;
}
p{
    margin-right: 35px;
}
.buttton{
    display: flex;
    justify-content: center;
}
.buttton button{
padding:15px 50px;
border-radius: 20px;
font-weight: bold;
font-size: 22px;
background-color: white;
color: black;
border: #cac6c6 2px solid;
cursor: pointer;
transition: .3s;
}
.buttton button:hover{
    background-color: rgb(0, 0, 0);
    border: rgb(0, 0, 0) 2px solid;
    color: white;
}
.container button{
    padding: 5px 10px;
    cursor: pointer;
    background-color: white;
    border: #cac6c6 solid 2px;
    font-weight: bold;
    border-radius: 20px;
transition: .3s;
display: flex;
justify-content: center;
}
.container button:hover{
    background-color: #000;
    border: #000 2px solid;
    color: white;
}
/*end product*/

/*start-footer*/
.subscribe-section {
    background-color: #141010;
    color: #ffffff;
    padding: 60px 0;
}

.container1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.subscribe-box,
.social-box {
    width: 15%;
    text-align: center;
}


.subscribe-box h2 {
    font-size: 90px;
    margin-bottom: 15px;
}

.subscribe-box p {
    color: #ffffff;
    margin-bottom: 30px;
    line-height: 1.6;
}

.btn {
    background: #ffffff;
    color: #000;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    cursor: pointer;
}


.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons i {
    color: #ffffff;
    font-size: 40px;
}

.youtube{
    cursor: pointer;
}
.twitter{
    cursor: pointer;
}
.pinterest{
    cursor: pointer;
}
.instgram{
    cursor: pointer;
}
.facebook{
    cursor: pointer;
}
/* end footer */
