/*start navbar*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    position: sticky;
    right: 0;
    left: 0;
    top: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 10px #baa1a1
}

.navbar .container .navbar-icons {
    background-color: black;
    color: aliceblue;
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    padding: 10px;
}
.shhop{
    margin-right: 10px;
}
span h1{
    margin-right: 1px;
}

.namepage {
    color: rgb(255, 255, 255);
    display: flex;
    gap: 20px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    text-transform: capitalize;

}

.container {
    display: flex;
    
}

.navbar span {
    cursor: pointer;
}

.namepage .name-page {
    cursor: pointer;
}

.nav-search {
    margin-top: 15px;
    margin-left: 10px;
    display: flex;
    gap: 650px;
    padding: 5px;
}

.nav-search .glass {
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.lazurde {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.content-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 20px;
}

.content-navbar span {
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
    list-style: none;
}

.links .list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 20px;
    padding: 10px;
}

.navbar .links .list li a {
    position: relative;
}

.navbar .links .list li a::after {
    content: "";
    height: 2px;
    width: 0;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .3s;

}

.navbar .links .list li a:hover::after {
    width: 100%;

}
/*end navbar*/
/* strart type-product*/
body{
    background-color: rgb(255, 255, 255);
}
.type{
    display: flex;
    margin-right: 20%;
    margin-top: 40px;
    gap: 100px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}
.type-section select{
    padding: 8px;
    border-radius: 8px;

}
.hr{
    width: 65%;
    margin-right: 19%;
    margin-top: 20px;
}
/* end type-product*/
/*start product*/
.container img{
    display: flex;
    margin-top: 50px;
    width: 80%;
    margin-right: 35px;
    transition:  0.5 ease;
    cursor: pointer;
}
.container img:hover {
    transform: scale(1.1);
}
img{
    margin: 0;
    padding: 0;
}
h1{
    margin-right: 35px;
}
p{
    margin-right: 35px;
}
.buttton{
    display: flex;
    justify-content: center;
}
.buttton button{
padding:15px 50px;
border-radius: 20px;
font-weight: bold;
font-size: 22px;
background-color: white;
color: black;
border: #cac6c6 2px solid;
cursor: pointer;
transition: .3s;
}
.buttton button:hover{
    background-color: rgb(0, 0, 0);
    border: rgb(0, 0, 0) 2px solid;
    color: white;
}
.container button{
    padding: 5px 10px;
    cursor: pointer;
    background-color: white;
    border: #cac6c6 solid 2px;
    font-weight: bold;
    border-radius: 20px;
transition: .3s;
display: flex;
justify-content: center;
}
.container button:hover{
    background-color: #000;
    border: #000 2px solid;
    color: white;
}
/*end product*/

/*start-footer*/
.subscribe-section {
    background-color: #141010;
    color: #ffffff;
    padding: 60px 0;
}

.container1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.subscribe-box,
.social-box {
    width: 15%;
    text-align: center;
}


.subscribe-box h2 {
    font-size: 90px;
    margin-bottom: 15px;
}

.subscribe-box p {
    color: #ffffff;
    margin-bottom: 30px;
    line-height: 1.6;
}

.btn {
    background: #ffffff;
    color: #000;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    cursor: pointer;
}


.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons i {
    color: #ffffff;
    font-size: 40px;
}

.youtube{
    cursor: pointer;
}
.twitter{
    cursor: pointer;
}
.pinterest{
    cursor: pointer;
}
.instgram{
    cursor: pointer;
}
.facebook{
    cursor: pointer;
}
/* end footer */
