/* Header Styles */
.header {
  background: #000000;
  box-shadow: 0 2px 10px  beige ;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 20px;
}

.nav-brand h1 {
  color: #d4af37;
  font-size: 2rem;
  font-weight: 700;
}
.nav-icons {
  display: flex;
  gap: 1rem;
  color: #ffffff;
}

.nav-icons i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3;
}

.nav-icons i:hover {
  color: #d4af37;
}


/* start Hero */
.hero {
    height: 100vh;
}

.hero img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    right: 2%;
    bottom: 7%;
    justify-items: end;
    color: antiquewhite;
    margin-right: 7%;

}

.hero-text p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;

}

.hero-text span {
    font-size: 60px;
}

/* End hero Miss AL */


/* Filters Section */
.filters-section {
  background: #f8f9fa;
  padding: 2rem 0;
}

.filters {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.filter-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.filter-group label {
  font-weight: 600;
  color: #1d1d1d;
}

.filter-group select {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: 'Cairo', sans-serif;
}

.search-box {
  position: relative;
  margin-right: auto;
}

.search-box input {
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  border: 1px solid #ffffff;
  border-radius: 25px;
  width: 300px;
  font-family: 'Cairo', sans-serif;
}

.search-box i {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
}
/* End filters */


/* start footer */
.subscribe-section {
    background-color: #141010;
    color: #ffffff;
    padding: 60px 0;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.subscribe-box,
.social-box {
    width: 15%;
    text-align: center;
}


.subscribe-box h2 {
    font-size: 90px;
    margin-bottom: 10px;
}

.subscribe-box p {
    color: #ffffff;
    margin-bottom: 30px;
    line-height: 1.6;
}

.btn {
    background: #ffffff;
    color: #000;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    cursor: pointer;
}


.social-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.social-icons i {
    color: #ffffff;
    font-size: 40px;
}

.youtube {
    cursor: pointer;
}

.twitter {
    cursor: pointer;
}

.pinterest {
    cursor: pointer;
}

.instgram {
    cursor: pointer;
}

.facebook {
    cursor: pointer;
}

/* end footer */