
/* start Hero */
.hero {
    height: 100vh;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    right: 2%;
    bottom: 7%;
    justify-items: end;
    color: antiquewhite;
    margin-right: 7%;

}

.hero-text h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;

}

.btn {
    background-color: #2f8f6b;
    margin-bottom: 80%;
}

/* End Hero */


/* start card */

.card {
    transition: .3s;
}

.card:hover {
    transform: scale(1.1);
}

.container-row {
    display: flex;
    justify-content: start;
    align-content: center;
}

/* End card */